footer.container
  .row
    .col-sm-12
      .nav.nav-pills.pull-right
        =nav_link('Docs Home', 'http://docs.ownersup.com')
        =nav_link('Terms & Conditions', '/terms-and-conditions')
        =nav_link('Privacy Policy', '/privacy')
        =nav_link('OwnersUp.com', 'http://ownersup.com')
        =nav_link('Dashboard Login', 'https://dashboard.ownersup.com')
