.jumbotron
	.container.text-center
		.col-md-10.col-md-offset-1
			h1 Are you worried about your business for 2016?
 			p If you feel like 2015 was an endless struggle, you're not alone.

section.what
	.container
		.row
			.col-md-8.col-md-offset-2
				markdown:
					Every year around this time there are solopreneurs who made the BARE MINIMUM and are bracing themselves to go back into a cubicle after NOT making things work.

					### But it doesn't have to be a struggle

					There are solopreneurs who are closing out this year with MORE sales and unprecedented business GROWTH.   They're making SIX and SEVEN figures for 2016 because they have something the others don't.....

		.row
			.col-md-8.col-md-offset-2
				markdown:
					### Support

					Whenever they stumble they have people they can call on who are happy to give them referrals, feedback, and advice.

					Solopreneurs thrive when they realize the all important truth that being solo does NOT mean doing everything on your own.

					When you look at all of the TOP performers from Athletes to Entertainers, you'll see that they all have a team helping them hit new heights.

					### Do you have a team?

					If not, OwnersUP may be able to help.

					It's not for everyone, but if you qualify it could help you transform your business.

section.what
	.container
		.img-screenshot.left
			.overlay
			=image_tag src="/images/hangout-screenshot.jpg"

				p.text-center
					a.btn.btn-lg.btn-success Apply now for a free month

		.row
			.col-md-6.col-md-offset-6
				markdown:
					# What is OwnersUp?

					OwnersUp is a customized group experience that will help you CRUSH your goals with advice from like-minded peers, daily accountability checks, and visuals to help you see your progress at every turn. You'll have a hand picked team of Solopreneurs cheering you on as you conquer your fears around selling, create habits that keep you on task, and explore business models that work.  You'll also get to share your special zone of genius with your peers and see exactly what's making an impact.

					Imagine having the ability to TEST any idea that you have BEFORE going to market, and getting feedback to make your service irresistable. You can have that with OwnersUp.

section.what
	.container
		.img-screenshot.right
			.overlay
			=image_tag src="/images/screenshot.png"

				p.text-center
					a.btn.btn-lg.btn-success Apply now for a free month

		.row
			.col-md-6
				markdown:
					# How does it work?

					Based on the information from your application we match you with 4 other solopreneurs with complimentary skill sets and set you up on weekly accountability calls. Your group of 5 meets for one hour each week to tackle your toughest challenges and put a plan into action NOW rather than later.

					Once your call is complete, you'll record and track the progress of your goals using software that shares your goals with the group, displays your revenue, and the progress towards your goals. At the end of each day you'll get an email asking to report back on what you accomplished that day. Throughout the day, your group will be cheering you on and pushing you to get out of your comfort zone.

					### Worried you'll get off track?

					If you have questions you can ask the group for feedback through the platform and get the answers you need today.

					Your team is there to course correct week to week meaning you never waste time going in the wrong direction.

section.what
	.container
		.row
			.col-md-8.col-md-offset-2
				markdown:
					# How do I know if I quailify?

					**You have a growth mindset** - You want MORE out of your business and setbacks don't phase you. You've failed before and survived it and are ready to take on new challenges
					You are coachable- You respect the expertise of others and listen when you get constructive criticism. You WANT to learn and grow.
					You're Open- You're happy to share the good and the bad because you trust that people will help you.
					You care about results- You want the best life has to offer and you want to make big changes in your business and life.
					(Put whatever revenue number you want them to have here. Ex) "You're business is currently making between 30-50k annually and you want to be at six figures"
					OwnersUp is NOT for You if:

					**You are still in the idea stage** - We work with existing businesses that already have clients
					You have a fixed mindset-  If you have already decided that things won't change, there's not much we'll be able to do for you or your business.
					You're not interested in coaching-  If the idea of being coached freaks you out, this probably isn't a fit.
					You're not open-  If doing things differently and stepping outside of your comfort zone is a non-starter, we're not for you.
					You don't care about results- If you're not looking at your numbers and just going with the flow, we won't be able to help you.
					How much does it cost?

section.what
	.container
		.row
			.col-md-8.col-md-offset-2
				markdown:
					If you were to hire a private business consultant, you would be committing to a 4 or 6 month cycle and paying $10,000 or more. If you decided to join a mastermind or a networking group that was this intimate you'd spend up to $5,000/month or more. With OwnersUp you get your customized group, the software, and weekly accountability all for $300/month (3 month commitment) that breaks down to $10 a day.

		.row
			.col-md-12
				markdown:
					# In fact we are so confident that you'll love OwnersUp that if your application is accepted, we'll give you your first month absolutely FREE.

		.row
			.col-md-8.col-md-offset-2
				markdown:
					This means that if you qualify there's no risk to try the software, get a group, and start making changes in your business. We won't even ask for your credit card when you sign up!

					See below for what others  have had to say about their OwnersUp results

					---------------------------------

					If you are ready to make 2016 your best year yet, APPLY HERE.

					We accept 30% of applicants and you'll be notified within ( set time period) of your acceptance.

					You can keep struggling or you can start growing.

					Let us help!

					Apply Here before seats fill up.
