---
title: Referral Program
---
markdown:
  OwnersUp has grown because our amazing users have recommended us to their peers and friends. For that, we are extremely grateful! So much so, that we want to give you a very special thank you:

  > For every person you invite that joins a group, you will get a free month

  No joke!
