@charset "utf-8";

/* ==========================================================================
 * Imports / Includes
 * ========================================================================== */

@import "variables";             // Bootstrap variable overrides
@import "bootstrap-includes";    // Bootstrap core

body { position: relative; }
article { margin-bottom: 2em; }

.navbar-brand {
  img {
    height: 30px;
    margin-top: -.3em;
  }

}

.navbar .navbar-form {
  .form-control {
    width: 70px;

    &:focus {
      transition: all 50ms ease-in-out;
      width: 200px;
    }
  }
  @media (max-width: $screen-md-min) {
    width: 100%;

    .form-group { width: 100%; }
    .form-control,
    .form-control:focus { width: 93%; }
  }
}

.page-header {
  h1 { font-weight: 300; }
}

.jumbotron {
  // background-image: url(/images/city-bg.jpg);
  // background-size: cover;
  // background-position: 50%;
  // box-shadow: inset 0px 2px 6px rgba(34,34,34,.5);

  margin-top: -24px;

  h1 {
    font-weight: 700;
    // text-shadow: 0 2px 2px rgba(0,0,0,.5)
  }
}

.thumbnail {
  h3 {
    margin-top: 8px;
  }

  &:hover {
    background: $brand-light;
    text-decoration: none;
  }
}

.page-header {
  h1 { margin-top: .25em; }
  h4 {
    color: #999;
    font-weight: 300;
  }

  .back {
    position: relative;
    top: 1em;
    float: right;
    text-transform: capitalize;

    @media (max-width: $screen-sm-max) {
      float: none;
      top: 0;
      margin-top: -2em;
    }
  }
}

#toc {
  &.affix {
    width: 350px;
    top: 18px;
  }

  .nav {
    padding: 0;

    li {
      list-style: none;

      &.active a {
        background-color: $brand-secondary;
        color: #fff;
      }
    }

    a {
      display: block;
    }
  }
}

footer.container {
  margin-top: 2em;
  border-top: 1px solid $gray-lighter;
}
