@charset "utf-8";

/* ==========================================================================
 * Imports / Includes
 * ========================================================================== */

@import "variables";             // Bootstrap variable overrides
@import "bootstrap-includes";    // Bootstrap core
@import "jquery.simple-text-rotator/simpletextrotator";

@import "navbar";
@import "jumbotron";
@import "screenshots";
@import "footer";

body {
  position: relative;
  padding-top: 70px;
}

h2 {
  font-weight: 700;
}

.field {
  @extend .form-control;
  background: red;
}

section {
  position: relative;
  margin-bottom: 3em;
  padding: 1.5em 0 3em 0 ;
  border-bottom: 1px solid $gray-lighter;

  &.are-you-ready {
    margin-top: -3em;
    padding-top: 3em;
    background: $brand-secondary;
    color: #fff;
  }
}

li {
  font-size: 1.3em;
  font-weight: 300;
}

.list-unstyled li {
  margin-bottom: 1em;
}

.list-inline li {
  margin: .5em 1em;
}

.rotate {
  .rotating {
    min-width: 200px;
    text-align: left;
  }
}


.tagline {
  h1 { line-height: 1.4em; margin-bottom: 1em; }
}
